<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^google.*\.html$ - [L]
RewriteRule ^tutorias.html$ - [L]
RewriteRule ^me/2016/12/deep-learning-ii-congreso-estudiantes-ingenieria-informatica/$ https://jesustorres.es/deep-learning-en-el-ii-congreso-de-estudiantes-de-ingenieria-informatica [L,R=301]
RewriteRule ^me/2015/04/capafons2015-es-tiempo-de-cambio/$ https://jesustorres.es/capafons2015-es-tiempo-de-cambio [L,R=301]
RewriteRule ^me/2015/04/por-que-voy-en-el-equipo-de-juan-capafons/$ https://jesustorres.es/por-que-voy-en-el-equipo-de-juan-capafons [L,R=301]
RewriteRule ^me/2015/05/reflexiones-sobre-las-elecciones-en-la-ull/$ https://jesustorres.es/reflexiones-sobre-las-elecciones-en-la-ull [L,R=301]
RewriteRule ^me/2015/06/agua-caliente-despachos-nuevos/$ https://jesustorres.es/agua-caliente-o-despachos-nuevos [L,R=301]
RewriteRule ^me/2016/04/la-ull-estrena-adobe-connect/$ https://jesustorres.es/la-ull-estrena-adobe-connect-que-fue-del-compromiso-con-el-software-libre [L,R=301]
RewriteRule ^me/2015/08/la-ull-sin-campus-virtual-hasta-nuevo-aviso/$ https://jesustorres.es/la-ull-sin-campus-virtual-hasta-nuevo-aviso [L,R=301]
RewriteRule ^me/2015/10/iommu-primer-asalto/$ https://jesustorres.es/iommu-primer-asalto [L,R=301]
RewriteRule ^me/2015/01/visor-de-realidad-virtual-diyvr/$ https://jesustorres.es/visor-de-realidad-virtual-diyvr [L,R=301]
RewriteRule ^me/2014/07/proyecto-liquid-galaxy/$ https://jesustorres.es/proyecto-liquid-galaxy [L,R=301]
RewriteRule ^me/2014/05/iot-en-edn-europe/$ https://jesustorres.es/disenando-iot-en-la-revista-edn-europe [L,R=301]
RewriteRule ^me/2013/05/conversion-de-tipos-en-cpp/$ https://jesustorres.es/conversion-de-tipos-en-cpp [L,R=301]
RewriteRule ^me/2014/01/creative-commons-como-herramienta-de-marketing/$ https://jesustorres.es/creative-commons-como-herramienta-de-marketing [L,R=301]
RewriteRule ^me/2014/02/crowdfunding-en-espana/$ https://jesustorres.es/crowdfunding-en-espana [L,R=301]
RewriteRule ^me/2014/03/odio-el-nuevo-olc-de-openldap/$ https://jesustorres.es/odio-el-nuevo-olc-de-openldap [L,R=301]
RewriteRule ^me/2014/10/compartir-un-proyecto-de-vagrant-entre-diferentes-equipos/$ https://jesustorres.es/compartir-un-proyecto-de-vagrant-entre-diferentes-equipos [L,R=301]
RewriteRule ^me/2014/12/mi-sitio-en-2014-segun-jetpack/$ https://jesustorres.es/mi-sitio-web-en-2014-segun-jetpack [L,R=301]
RewriteRule ^me/2015/03/problemas-con-fuentes-de-audio-en-chromium-o-chrome-para-linux/$ https://jesustorres.es/problemas-con-fuentes-de-audio-en-chromium-o-chrome-para-linux [L,R=301]
RewriteRule ^me/2015/07/linuxcounter/$ https://jesustorres.es/linuxcounter [L,R=301]
RewriteRule ^me/2016/12/sistema-mensajeria-los-alumnos-sistemas-operativos-avanzados/$ https://jesustorres.es/el-sistema-de-mensajeria-de-los-alumnos-de-sistemas-operativos-avanzados [L,R=301]
RewriteRule ^me/2015/09/monitoriza-tu-sistema-con-estilo-usando-conky/$ https://jesustorres.es/monitoriza-tu-sistema-con-estilo-usando-conky [L,R=301]
RewriteRule ^me/2015/09/dejando-la-terminal-fina-con-yadr-zsh-prezto-solarize/$ https://jesustorres.es/dejando-la-terminal-fina-con-yadr-zsh-prezto-solarize [L,R=301]
RewriteRule ^me/2014/10/es-necesario-dejar-espacio-sin-particionar-en-un-ssd/$ https://jesustorres.es/es-necesario-dejar-espacio-sin-particionar-en-un-ssd [L,R=301]
RewriteRule ^me/2014/02/cuanto-espacio-reservar-para-la-swap/$ https://jesustorres.es/cuanto-espacio-reservar-para-la-swap [L,R=301]
RewriteRule ^me/2014/01/x-org-en-linux-sin-privilegios-de-root/$ https://jesustorres.es/x-org-en-linux-sin-privilegios-de-root [L,R=301]
RewriteRule ^me/2014/01/la-importancia-del-relevo-generacional/$ https://jesustorres.es/la-importancia-del-relevo-generacional [L,R=301]
RewriteRule ^me/2013/12/estandar-de-estados-de-salida-en-linux/$ https://jesustorres.es/hay-algun-estandar-de-estados-de-salida-en-linux [L,R=301]
RewriteRule ^me/2015/10/aprender-qt-con-tutoriales-de-youtube/$ https://jesustorres.es/aprender-qt-con-tutoriales-de-youtube [L,R=301]
RewriteRule ^me/2013/04/paralelismo-y-concurrencia/$ https://jesustorres.es/paralelismo-y-concurrencia [L,R=301]
RewriteRule ^me/2013/04/introduccion-a-la-concurrencia/$ https://jesustorres.es/concurrencia [L,R=301]
RewriteRule ^me/2013/03/qt-network/$ https://jesustorres.es/qt-network [L,R=301]
RewriteRule ^me/2013/03/protocol-buffers/$ https://jesustorres.es/protocol-buffers [L,R=301]
RewriteRule ^me/2013/03/bsd-sockets/$ https://jesustorres.es/bsd-sockets [L,R=301]
RewriteRule ^me/2013/01/proyecto-qt-framework-de-desarrollo-de-aplicaciones/$ https://jesustorres.es/proyecto-qt-framework-de-desarrollo-de-aplicaciones [L,R=301]
RewriteRule ^me/2013/01/yocto-poky-y-bitbake/$ https://jesustorres.es/yocto-poky-y-bitbake [L,R=301]
RewriteRule ^me/2015/05/ejecutar-aplicaciones-de-qt-con-suid/$ https://jesustorres.es/ejecutar-aplicaciones-de-qt-con-suid [L,R=301]
RewriteRule ^me/2015/03/introduccion-a-las-senales-posix/$ https://jesustorres.es/introduccion-a-las-senales-posix [L,R=301]
RewriteRule ^me/2015/03/crear-paquetes-de-debian-con-checkinstall/$ https://jesustorres.es/crear-paquetes-de-debian-con-checkinstall [L,R=301]
RewriteRule ^me/2014/05/almacenar-datos-en-sqlite/$ https://jesustorres.es/almacenar-datos-en-sqlite [L,R=301]
RewriteRule ^me/2014/02/capturando-secuencias-de-video-con-qt/$ https://jesustorres.es/capturando-secuencias-de-video-con-qt [L,R=301]
RewriteRule ^me/2013/05/servicios-y-demonios-en-linux/$ https://jesustorres.es/servicios-y-demonios-en-linux [L,R=301]
RewriteRule ^me/2013/05/resource-interchange-file-format/$ https://jesustorres.es/resource-interchange-file-format [L,R=301]
RewriteRule ^me/2013/04/make-install-con-qmake/$ https://jesustorres.es/make-install-con-qmake [L,R=301]
RewriteRule ^me/2013/04/aplicaciones-de-consola-con-qt(/)?$ https://jesustorres.es/aplicaciones-de-consola-con-qt [L,R=301]
RewriteRule ^me/2013/03/uso-de-la-memoria-como-un-dispositivo-de-es-con-qbuffer/$ https://jesustorres.es/uso-de-la-memoria-como-un-dispositivo-de-es-con-qbuffer [L,R=301]
RewriteRule ^me/2013/03/implementando-un-protocolo-con-protocol-buffers/$ https://jesustorres.es/implementando-un-protocolo-con-protocol-buffers [L,R=301]
RewriteRule ^me/2013/02/deteccion-de-movimiento-con-opencv/$ https://jesustorres.es/deteccion-de-movimiento-con-opencv [L,R=301]
RewriteRule ^me/2013/02/hilos-de-trabajo-usando-senales-y-slots-en-qt/$ https://jesustorres.es/hilos-de-trabajo-usando-senales-y-slots-en-qt [L,R=301]
RewriteRule ^me/2013/01/incorporar-funcionalidad-a-yocto-mediante-capas-un-ejemplo-con-qt/$ https://jesustorres.es/incorporar-funcionalidad-a-yocto-mediante-capas-un-ejemplo-con-qt [L,R=301]
RewriteRule ^me/2013/01/crea-tu-propia-distro-de-linux-con-yocto/$ https://jesustorres.es/crea-tu-propia-distro-de-linux-con-yocto [L,R=301]
RewriteRule ^me/2013/12/aprendiendo-scrum-en-el-dia-del-centro/$ https://jesustorres.es/aprendiendo-scrum-en-el-dia-del-centro [L,R=301]
RewriteRule ^me/2013/02/introduccion-al-uso-de-hilos-en-qt/$ https://jesustorres.es/introduccion-al-uso-de-hilos-en-qt [L,R=301]
RewriteRule ^me/2013/02/layouts-en-qt-organizacion-de-controles/$ https://jesustorres.es/layouts-en-qt-organizacion-de-controles [L,R=301]
RewriteRule ^me/2013/02/como-usar-qmovie-en-qt/$ https://jesustorres.es/como-usar-qmovie-en-qt [L,R=301]
RewriteRule ^me/soa(/)?$ https://jesustorres.hashnode.dev/tag/ull-esit-soa [L,R=301]
RewriteRule ^(me/)?tutor(i|í)a(s)? /tutorias.html [L,R=301]
</IfModule>
